# git
alias g='git'
alias gs='g s'
alias gb='g b'
alias ls='ls -GFh'
alias ld='ls -d */'

# conda
alias workon='source activate'

# MAC utilities
alias sleepscr='pmset displaysleepnow'

# Kubernetes
alias k='kubectl'
